.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button,
.button {
  background: #ffffff;
  border: 1px solid #348f64;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #348f64;
  padding: 10px 21px;
  text-decoration: none;
  cursor: pointer;
}

.app-name-1 {
  color: rgb(225, 225, 235);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  position: absolute; /* Position .app-name absolutely relative to its nearest positioned ancestor (.header) */
  left: 0; /* Align to the left side of .header */
  top: 0; /* Align to the top of .header */
  padding-left: 15px;
  margin-top: 15px;
}

.app-name-2 {
  color: rgb(6, 6, 7);
  text-align: center;
}

/* Navigation styling */
nav {
  background-color: #111; /* Dark background color */
  padding: 20px;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 55px;
  position: relative; /* Establishes a positioning context for absolute positioning */
  display: flex;
  justify-content: center; /* Center the flex items (the .centered-titles div) horizontally */
  align-items: center; /* Center the flex items vertically */
 
}

nav span {
  color: rgb(225, 225, 235);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Adjust the space between the titles as needed */
  /* No specific width; it will be as wide as its content requires */
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Spacing between navigation items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last navigation item */
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px; 
}

nav ul li a:hover {
  color: #e50914; 
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .app-name {
    margin-bottom: 20px; /* Adds space between the app name and the nav links */
  }

  .nav ul {
    flex-direction: column;
    gap: 10px; /* Adjust gap for vertical layout */
  }
}

.page-heading {
  text-align: center;
  font-size: 28px;
}

/* Center container styling */
.center-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  flex-direction: column;
  align-items: center; /* Vertically center content */
  height: 25vh; /* Set height to 25% of viewport height */
}

.uncenter-container {
  display: block; 
  width: auto; 
  margin: 0 auto; /* Centers the container horizontally */
}

/* Link styling */
.homepage-button {
  text-decoration: none;
  color: #fff; 
  font-size: 18px; 
  padding: 8px 16px; 
  border-radius: 5px; 
  background-color: #e50914; 
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.homepage-button:hover {
  background-color: #b2070c; 
}

/* Goal Styling */
.goal-list {
  margin-top: 20px;
  border-radius: 25px;
}

.goal-item {
  list-style: none;
  margin-bottom: 10px;
}

.goal-link {
  text-decoration: none;
  color: inherit;
}

.table-container {
  overflow: hidden; 
  border-radius: 50px 50px 0 0; 
}

.goal-table {
  width: 70%;
  border-collapse: collapse;
  background-color: #b2070f;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.goal-table th,
.goal-table td {
  padding: 12px;
  text-align: left;
  font-size: 20px;
}

.goal-table th {
  font-size: 22px;
}

.goal-table td {
  font-size: 18px;
}

.goal-table th {
  background-color:  #333333;
}

.goal-table tbody tr:nth-child(even) {
  background-color: #242424;
}

.goal-table tbody tr:hover {
  background-color: #8a1919;
}

.goal-table th,
.goal-table td {
  border-bottom: 1px solid #333333;
}

.goal-table td:first-child,
.goal-table th:first-child {
  border-left: none;
}

.goal-table td:last-child,
.goal-table th:last-child {
  border-right: none;
}

.task-button,
.remove-button {
  background-color: #050505;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.task-button:hover,
.remove-button:hover {
  background-color: #333333;
}

/* Button Styling */
.custom-button {
  background-color: #d60d0d; 
  color: #ffffff; 
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  text-decoration: none; 
}

.custom-button:hover {
  background-color: #fa0505; 
}

.custom-link {
  text-decoration: none; 
}

.task-button {
  margin-bottom: 2px;;
}

/* Form */
.goalGetter-form {
  text-align: center;
  background-color: #312e2e;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 25px auto;
  max-width: 600px;
}

.goalGetter-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.goalGetter-button {
  background-color: #e50914;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.goalGetter-button:hover {
  background-color: #b2070f;
}

/*Task Styling*/
.task-title {
  display: flex;
}