.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button,
.button {
  background: #ffffff;
  border: 1px solid #348f64;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #348f64;
  padding: 10px 21px;
  text-decoration: none;
  cursor: pointer;
}

/* Navigation styling */
nav {
  background-color: #111; /* Dark background color */
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Spacing between navigation items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last navigation item */
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* Text color for navigation links */
  font-size: 18px; /* Font size for navigation links */
}

nav ul li a:hover {
  color: #e50914; /* Text color on hover */
}

/* Center container styling */
.center-container {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 100vh; /* Set height to 100% of viewport height */
}

.uncenter-container {
  display: block; /* Ensures it behaves like a regular block-level element */
  width: auto; /* Adjust width as needed */
  margin: 0 auto; /* Centers the container horizontally */
}

/* Link styling */
.homepage-button {
  text-decoration: none;
  color: #fff; /* Text color for the link */
  font-size: 18px; /* Font size for the link */
  padding: 8px 16px; /* Padding for the link */
  border-radius: 5px; /* Rounded corners for the link */
  background-color: #e50914; /* Netflix red color for the link background */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.homepage-button:hover {
  background-color: #b2070c; /* Darker red color on hover */
}

/* Goal Styling */
.goal-list {
  margin-top: 20px;
}

.goal-item {
  list-style: none;
  margin-bottom: 10px;
}

.goal-link {
  text-decoration: none;
  color: inherit;
}

.goal-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8; /* Light background color for the table */
  border-radius: 8px; /* Rounded corners for the table */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for the table */
}

.goal-table th,
.goal-table td {
  padding: 12px; /* Increased padding for better spacing */
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.goal-table th {
  background-color: #f2f2f2;
}

.goal-table tbody tr:last-child td {
  border-bottom: none;
}

.task-button,
.remove-button {
  background-color: #e50914; /* Netflix red color */
  color: #fff;
  border: none;
  padding: 8px 16px; /* Increased padding for better button appearance */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.task-button:hover,
.remove-button:hover {
  background-color: #b2070c; /* Darker red color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow on hover for button */
}
